[submodule "pyexact"]
	path = pyexact
	url = https://github.com/alvarorga/pyexact.git
[submodule "xxy_richardson_gaudin_bethe"]
	path = xxy_richardson_gaudin_bethe
	url = https://github.com/wholdhus/xxy_richardson_gaudin_bethe
